<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tang.understander"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
	
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>  
    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE"/>  
	<uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE"/>  
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>  
	<uses-permission android:name="android.permission.ACCESS_GPS"/>   
	
	<uses-permission android:name = "android.permission.CAMERA" /> 
	<uses-feature android:name = "android.hardware.camera" /> 
	<uses-feature android:name = "android.hardware.camera.autofocus" /> 
	<uses-permission android:name="android.permission.GET_TASKS"/>
    
	<supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />
	
    
    <application
        android:name="com.tang.understander.base.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
       <activity
            android:name="com.tang.understander.activity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        <activity
            android:name="com.tang.understander.activity.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" >
        </activity>
        
        
        <activity
            android:name="com.tang.understander.activity.MainActivity"
            android:label="@string/app_name" >
        </activity>
        
       <activity
            android:name="com.tang.understander.activity.DayHaveStorysActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
          	>
        </activity>
    </application>

</manifest>
